@import url('https://fonts.googleapis.com/css?family=Assistant:400,600,700,800&display=swap');

$font-family: 'Assistant', sans-serif;

$primary-dark-color: rgb(22, 3, 51);
$primary-light-color: rgb(233, 239, 247);
$secondary-color: rgb(248, 183, 5);
$error-color: rgb(235, 102, 0);

$link-color: rgb(225, 106, 7);
$link-color-active: lighten($link-color, 40%);
$link-color-hover: lighten($link-color, 20%);
