@import '../../../scss/index';
:host {
  margin-top: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px $secondary-color;
    margin-top:0;
    box-sizing: border-box;
    .page {
        display: flex;
        flex-direction: row;
        &__item {
            font-size: 1.5rem;
            margin: 0.3rem;
        }
    }
    .login {
        display: flex;
        flex-direction: row;
        &__item {
            font-size: 1.3rem;
            margin: 0.3rem;
        }
    }
}
